.container {
  background-color: #FAFAFA;
  border-radius: 40px 40px 0 0;
  margin-top: -38px;
}
.container__wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  padding: var(--vertical-padding-container) 0;

  h2 {
    margin-bottom: 32px;
  }
}
.container__wrapper h2 {
  font-weight: 600;
  font-size: 48px;
}