.banner {
  width: 100%;
  height: 630px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner__text {
  height: calc(100% - 38px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  font-size: 128px;
  font-weight: 600;
  color: white;
}