.button{
  cursor: pointer;
  font-weight: 500;
  line-height: 36px;
  background-color: var(--primary-color);
  padding: 0.875rem 4rem;
  border-radius: 16px;
  font-size: 1.25rem;
  width: fit-content;
}