.flex-center {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}
.col-flex-center {
  display: flex!important;
  align-items: center!important;
}
.row-flex-center {
  display: flex!important;
  justify-content: center!important;
}