.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-flex-center {
  display: flex;
  align-items: center;
}
.row-flex-center {
  display: flex;
  justify-content: center;
}