:root {
  //Sizes
  --header-height: 90px;
  --wrapper-width: 1512px;
  --vertical-padding-container: 76px;
  //Colors
  --dark-color: #1F1F1F;
  --primary-color: #FFD658;
  --primary-color-light: #ffc017;
  --purple-color: #beb7ea;
}