.container{
  position: relative;
  padding: 4.5rem 7.25rem;
  background-color: #BEB8EB;
  border-radius: 40px;
  h2{
    line-height: 4.5rem;
    font-weight: 600;
    color: white;
    font-size: 3rem;
  }
}