.container{
  position: relative;
  padding: 4.5rem 7.25rem;
  background-color: #BEB8EB;
  h2{
    line-height: 4.5rem;
    font-weight: 600;
    color: white;
    font-size: 3rem;
  }
  .filters{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .filter{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.875rem;
    padding: 5px 24px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    p{
      white-space: nowrap;
      margin-right: 8px;
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}