.slider{
  margin-top: 20px;
  max-width: 55vw;
  overflow: visible;
  &_item{
    display: flex;
    justify-content: space-between;
    max-width: 55vw;
    padding: 2rem;
    border: 2px solid rgba(46, 46, 46, 1);
    border-radius: 60px;
    .slider_leftBlock{
      position: relative;
      width: 100%;
      .slider_text{
        h3{
          white-space: nowrap;
          font-size: 1.75rem;
          line-height: 2.5rem;
          margin: 0;
        }
        .slider_line{
          border: 1px solid rgba(0, 0, 0, 0.07);
          width: 90%;
        }
        p{
          color: rgba(0, 0, 0, 0.8);
          max-width: 303px;
          font-size: 1.125rem;
          line-height: 1.7rem;
        }
      }
      .slider_btn{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.75rem 1.687rem;
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.25rem;
        white-space: nowrap;
        border: 2px solid rgba(0, 0, 0, 0.8);
        border-radius: 32px;
      }
    }
    .slider_rightBlock{
      img{
        height: 15.4375rem;
        width: 27.5rem;
      }
    }
  }
}



